//- Sets the templatized markup for all pages of the site.

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(href="/static/stylesheets/style.css", rel="stylesheet")
  body
    block content
