//- Displays a user-friendly page-not-found message.

extends layout.pug

block content
  h1= title
  p Whoops! Looks like this page took a wrong turn and got lost.
  p Don't worry, you can always
    a.button(href='/') find your way back home.
